.modal-styles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  /* justify-content: center;
  align-items: center;
  margin: auto; */
}

.modal-header {
  background: rgb(222, 99, 23);
  color: white;
  width:fit-content;
  border-radius: 20px;
  border: 2px solid #000;
  text-align: center;
  font-size: larger;
}

.modal-content {
  background: #ccc;
  color: black;
  width: 500px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid #000;
  border-radius: 20px;
}

.reccomend-style {
 margin: 10px 0 10px 0;
}

.summary-style {
  min-width: 22.5em;
}

.body-style {
  min-width: 22.4em;
  min-height: 6em;
}

.modal-images {
  height: 5em;
  width: 5em;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}