.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orangered;
  padding: 50%;
  z-index: 1000;
  min-width: 500px;
}

.reccomend-style {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

.summary-style {
  min-width:22.5em;
}

.body-style {
  min-width: 22.4em;
  min-height: 6em;
}