.review-tile {
  margin: 20px;
  border-radius: 8px;
  border-color:black;
  border-width: 1px;
  border-style: solid;
  height: 170px;
  width: 500px;
}

.review-summary {
  font-weight: bold;
  margin: 10px;
}

.review-body {
 margin: 10px;
 height: 40px;
 width: 500px;

}

.review-name {
  margin: 0 10px 0 5px;
}

.review-date {
   margin: 0 0 10px 5px;
   height: 20px;
   width: 500px;
}

