.characteristics-chart {
  align-content: right;
}

.char-bar {
  position: relative;
  height: 5px;
  width: 150px;
  border: 1px solid;
  background-color: gray;
}

.ratings-inner-icon {
  position: relative;
  width: 0;
  height: 75%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(2, 209, 2);
}

.poor {
  margin-right: 7em;
  font-size: small;
}
.great {
  font-size: small;
}