.characteristics-chart {
  align-content: right;
  margin: 10px 0 10px 0;
}

.char-bar {
  position: relative;
  height: 5px;
  width: 18em;
  border: 1px solid;
  background-color: gray;
  box-shadow: 2px 2px 4px #000000;
}

.ratings-inner-icon {
  position: relative;
  width: 0;
  height: 75%;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(2, 209, 2);
}

.bad-tag {
  /* margin-right: 15em; */
  font-size: small;
}
.good-tag {
  font-size: small;
  float: right;
}