* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Roboto',sans-serif;
  background-color: rgb(248, 249, 250);
  width: auto;
  overflow-x: hidden;
}

.image-left {
  all: unset;
  color: rgba(222, 99, 23, .8);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.image-left:hover {
  text-shadow: 0 0 5px rgb(59, 167, 184);
}

.image-right {
  all: unset;
  color: rgba(222, 99, 23, .9);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.image-right:hover {
  text-shadow: 0 0 5px rgb(59, 167, 184);
}

.expanded-image-left {
  all: unset;
  margin-right: 10px;
  color: rgba(222, 99, 23, .9);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.expanded-image-left:hover {
  text-shadow: 0 0 5px rgb(59, 167, 184);
}

.expanded-image-right:hover {
  text-shadow: 0 0 5px rgb(59, 167, 184);
}

.expanded-image-right {
  all: unset;
  color: rgba(222, 99, 23, .9);
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.category {
  margin-bottom: 0;
}

.product-name {
  margin-top: 0;
}

.restore-default {
  all: unset;
  margin-right: 13px;
  margin-top: 5px;
  color: rgba(222, 99, 23, .9);
  font-size: x-large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.restore-default:hover {
  text-shadow: 0 0 5px rgb(59, 167, 184);
}

.cart-features {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.circle-check {
  height: 0;
  width: 0;
  position: relative;
  color: rgb(222, 99, 23);
  right: -48px;
  top: -68px
}

.price {
  display: flex;
}

.sale-price {
  color: red;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
}

.original-price {
  text-decoration: line-through;
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}

.original-price-no-sale {
  font-weight: bold;
  font-family:'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0
  }
}

.default-img {
  object-fit: contain;
  overflow: hidden;
  max-height: 80vh;
  max-width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  cursor: zoom-in;
  animation-duration: 500ms;
  animation-name: fadeIn;
  animation-iteration-count: 1;
}

.default-img:hover {
  box-shadow: 0 0 5px rgb(59, 167, 184);
}

.dark-mode-btn {
  all: unset;
  display: flex;
  background-color: rgb(248, 249, 250);
  color: black;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  height: max-content;
  width: max-content;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  text-decoration:none;
  text-align: center;
  font-family:'Roboto',sans-serif;
  font-weight:300;
}

.dark-mode-btn:hover {
  box-shadow: 0 0 5px rgb(59, 167, 184);
}