body {
  margin: 0;
  padding: 0;
  font-family:'Roboto',sans-serif;
}

.image-left {
  all: unset;
  position: relative;
  left: 20px;
  color: rgb(222, 99, 23);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.image-left:hover {
  text-shadow: 0px 0px 2px black;
}

.image-right {
  all: unset;
  position: relative;
  left: 60px;
  color: rgb(222, 99, 23);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.image-right:hover {
  text-shadow: 0px 0px 2px black;
}

.expanded-image-left {
  all: unset;
  position: relative;
  left: 30px;
  color: rgb(222, 99, 23);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.expanded-image-left:hover {
  text-shadow: 0px 0px 2px black;
}

.expanded-image-right {
  all: unset;
  position: relative;
  right: 30px;
  color: rgb(222, 99, 23);
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.expanded-image-right:hover {
  text-shadow: 0px 0px 2px black;
}

.category {
  margin-bottom: 0;
}

.product-name {
  margin-top: 0;
}

.restore-default {
  all: unset;
  position: relative;
  color: rgb(222, 99, 23);
  top: -210px;
  left: -65px;
  font-size: large;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

.restore-default:hover {
  text-shadow: 0px 0px 2px black;
};

.partly-filled-star {
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
};

.cart-features {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.circle-check {
  height: 0;
  width: 0;
  position: relative;
  color: rgb(222, 99, 23);
  right: -48px;
  top: -68px
}

.price {
  display: flex;
}

.sale-price {
  color: red;
  font-weight: bold;
  font-family:'Roboto', sans-serif;
}

.original-price {
  text-decoration: line-through;
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}

.original-price-no-sale {
  font-weight: bold;
  font-family:'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0
  }
}

.hidden-img {
  display: none;
}

.default-img {
  object-fit: contain;
  max-height: 100%;
  max-width: 75%;
  position: relative;
  box-shadow: 0 0 5px black;
  left: 40px;
  border-radius: 3px;
  cursor: zoom-in;
  animation-duration: 500ms;
  animation-name: fadeIn;
  animation-iteration-count: 1;
};

