.review-tile {
  margin: 10px 0 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
  min-height: auto;
}

.review-summary {
  font-weight: bold;
}

.review-body {
  min-height: 40px;
  overflow-wrap: break-word;
}



.review-name {
  margin: 0 10px 0 5px;
}

.review-date {
  min-height: 20px;
}

.review-recommend {
  margin: 0 0 10px 5px;
}