.review-list {
  scroll-behavior: smooth;
  max-height: 500px;
  overflow: auto;
  border: 2px solid #000;
  margin: 1em;
  margin-left: 40%;
}

.main {
  border: 2px solid #000;
  margin: 1em;
  overflow: auto;
}
.review-list-btn{
  display: flex;
}

.title-sortbar {
  margin: 1em;
}

/* .ratings-breakdown {

} */