.review-tile {
  margin: 20px;
  border: 2px solid #000;
  min-height: auto;
  width: auto;
}

.review-summary {
  font-weight: bold;
  margin: 0 10px 0 10px;
  width: auto;
}

.review-body {
  margin: 10px 10px 0 10px;
  min-height: 40px;
  width: auto;
  overflow-wrap: break-word;
}



.review-name {
  margin: 0 10px 0 5px;
}

.review-date {
  margin: 0 0 10px 5px;
  min-height: 20px;
  width: 500px;
}

.review-recommend {
  margin: 0 0 10px 5px;
}